.footer__link {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
