.place__url-heading {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.7;
  margin: 0 0 12px;
}

@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
  }
}
